{% extends 'baseAdmin.html.twig' %}
{% block header %}


{% endblock %}
{% block container  %}

<center>
                  <h1 id="text" ALIGN=center style="color:#4ecdc4  ;">Ajoute un type d'evenement </h1>
                  <fieldset style="width: 50%">
              {{ form_start(form ,  {attr: {novalidate: 'novalidate'}} ) }}
             {{ form_widget(form) }}
           </br>
         </br>
       <button class="btn btn-success" type="submit"><i class="icon-ok"></i> Ajouter Type </button>
       <div id="d1"></div>
   </fieldset>
</center>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
{% endblock  %}