{% extends 'baseAdmin.html.twig' %}

{% block container %}


<center><h1>Bienvenue pour la mise a jour d'une categorie</h1>
    <fieldset style="width: 50%">
        <form method="POST">
            type: <input type="text" name="type" value="{{ modele.type }}"></br>


            <input class="btn btn-success" type="submit" value="Enregistrer">
        </form>
    </fieldset>
</center>
</body>

</html>

{% endblock %}