{% extends 'baseClient.html.twig' %}
{% block head %}
{% endblock %}
{% block container %}
    <style>
           table {
               width:100%;
           }
        table, th, td1,td2 {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td1,td2{
            padding: 15px;
            text-align: left;
        }
        table#t01 tr:nth-child(even) {
            background-color: #eee;
        }
        table#t01 tr:nth-child(odd) {
            background-color: #fff;
        }
        table#t01 th {
            background-color: black;
            color: white;
        }
    </style>

<div >
<h1 align="center">Liste des Lieux</h1>
<table  border="2" align="center">
    <tr >
        <th>Nom</th>
        <th>Description</th>



    </tr >
    {% for An in lieu %}
        <tr>
            <td>
                {{An.nom}}
            </td>
            <td>
                {{ An.descriptionLieu }}
            </td>


            {# <td><a href="">Supprimer</a></td> #}

        </tr>
    {% endfor %}
</table>
</div>
{% endblock %}